.learning-tabs {
  @media (min-width: 1025px) {
    margin-left: 20px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    margin-left: 10px;
  }
  margin-bottom: 20px;
  .learning-tabs__title {
    font-size: 40px;
    font-weight: 700;
	  margin-top: 32px;
    margin-bottom: 32px;
	  text-align: left;
}

.learning-tabs__buttons {
	display: flex;
	gap: 12px;
  	justify-content: flex-start;
}

.tab-btn {
	padding: 8px 20px;
    font-size: 16px;
    border-radius: 999px;
    border: 1px solid #d3d3d3;
    background-color: white;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      background-color: #4b9b4c;
      color: white;
      border: none;
    }

    &:hover:not(.active) {
      border-color: #aaa;
    }
  }
}
