.footer {
  background: linear-gradient(
    90deg,
    #006400 0%,
    #006400 6.25%,
    #016501 12.5%,
    #036703 18.75%,
    #056a05 25%,
    #086d08 31.25%,
    #0a700a 37.5%,
    #0e740e 43.75%,
    #117811 50%,
    #147b14 56.25%,
    #187f18 62.5%,
    #1a821a 68.75%,
    #1d851d 75%,
    #1f881f 81.25%,
    #218a21 87.5%,
    #228b22 93.75%,
    #228b22 100%
  );
  color: white;
  font-size: 14px;
  padding: 2rem 80px;
}

.footer-container {
  // max-width: 1200px;
  margin: 0 auto;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 12px;
}

.footer-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.footer-right {
  text-align: left;

  @media (min-width: 768px) {
    text-align: right;
  }
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.footer-bottom span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
